


<ul class="wc-table">
    <li class="col-md-3 col-sm-6" ui-sref="persons({bloodgroup:'A+'})">
        <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <!--<span class="fa fa-tint wc-icon"></span>-->
            <span class="wc-icon wc-icon-text">A+</span>
            <h4 class="wc-tittle"></h4>
            <p>Find Persons with contact details of blood group A+</p>
        </div>
    </li>
    <li class="col-md-3 col-sm-6" ui-sref="persons({bloodgroup:'A-'})">
        <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
           <!-- <span class="fa fa-tint wc-icon"></span>-->
            <span class="wc-icon wc-icon-text">A-</span>
            <h4 class="wc-tittle"></h4>
            <p>Find Persons with contact details of blood group A-</p>
        </div>
    </li>
    <li class="col-md-3 col-sm-6" ui-sref="persons({bloodgroup:'B+'})">
        <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
           <!-- <span class="fa fa-tint wc-icon"></span>-->
            <span class="wc-icon wc-icon-text">B+</span>
            <h4 class="wc-tittle"></h4>
            <p>Find Persons with contact details of blood group B+</p>
        </div>
    </li>
    <li class="col-md-3 col-sm-6" ui-sref="persons({bloodgroup:'B-'})">
        <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <!--<span class="fa fa-tint wc-icon"></span>-->
            <span class="wc-icon wc-icon-text">B-</span>
            <h4 class="wc-tittle"></h4>
            <p>Find Persons with contact details of blood group B-</p>
        </div>
    </li>
    </ul>
<ul class="wc-table">
    <li class="col-md-3 col-sm-6" ui-sref="persons({bloodgroup:'AB+'})">
        <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
           <!--<span class="fa fa-tint wc-icon"></span>-->
             <span class="wc-icon wc-icon-text">AB+</span>

            <h4 class="wc-tittle"></h4>
            <p>Find Persons with contact details of blood group AB+</p>
        </div>
    </li>
    <li class="col-md-3 col-sm-6" ui-sref="persons({bloodgroup:'AB-'})">
        <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
           <!-- <span class="fa fa-tint wc-icon"></span>-->
            <span class="wc-icon wc-icon-text">AB-</span>
            <h4 class="wc-tittle"></h4>
            <p>Find Persons with contact details of blood group AB-</p>
        </div>
    </li>
    <li class="col-md-3 col-sm-6" ui-sref="persons({bloodgroup:'O+'})">
        <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <!--<span class="fa fa-tint wc-icon"></span>-->
           <span class="wc-icon wc-icon-text">O+</span>
            <h4 class="wc-tittle"></h4>
            <p>Find Persons with contact details of blood group O+</p>
        </div>
    </li>
    <li class="col-md-3 col-sm-6" ui-sref="persons({bloodgroup:'O-'})">
        <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <!--  <span class="fa fa-tint wc-icon"></span>-->
            <span class="wc-icon wc-icon-text">O-</span>
            <h4 class="wc-tittle"></h4>
            <p>Find Persons with contact details of blood group O-</p>
        </div>
    </li>
</ul>


