
<div class="row">
    <div class="col-lg-12">
        <div id="page-wrapper"   ui-view class="static-content-wrapper">

        </div>
    </div>
</div>
<ul class="service-table">
    <li class="col-md-3 col-sm-6" ui-sref="bloodgroup">
        <div class="single-service wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
            <span class="fa fa-search service-icon nav-header"></span>

            <h4 class="service-title">Find Blood</h4>
            <p>Find blood donnor of particular blood group.</p>
        </div>
    </li>
    <li class="col-md-3 col-sm-6" ui-sref="newperson">
        <div class="single-service wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
            <span class="fa fa-user-plus service-icon nav-header"></span>
            <h4 class="service-title">Add user</h4>
            <p>Add your family member ,friends as a blood donor.</p>
        </div>
    </li>
   <!-- <li class="col-md-3 col-sm-6">
        <div class="single-service wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
            <span class="fa fa-tint  service-icon nav-header"></span>
            <h4 class="service-title">Persons In need</h4>
            <p>At vero eos et accusa mus odio in dignissimos ducimus qui anditiis the tatum</p>
        </div>
    </li>-->
    <!-- <li class="col-md-3 col-sm-6">
         <div class="single-service wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
             <span class="fa fa-plus-square  service-icon"></span>
             <h4 class="service-title">Analystic</h4>
             <p>At vero eos et accusa mus odio in dignissimos ducimus qui anditiis the tatum</p>
         </div>
     </li>-->


</ul>